<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Remove Background</title>
	{{ dropzone.load_css() }}
</head>
<body>
<h1>Remove Background</h1>
<div>
	{{ dropzone.create(action='uploads') }}
	{{ dropzone.config() }}
	<button id="bgrem">Remove BG</button>
</div>
{{ dropzone.load_js() }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('button#bgrem').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/process_bg_removal',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

</script>
</body>
</html>
